

.header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;

}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.header nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
 
}

.header nav a:hover{
    text-decoration: underline;
}

.header nav a.active{
    color : #f00;
}

button{
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

}

.dark{
    background-color: #333;
    color: #fff;
}

