

.header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;

}

.header nav{
    display: flex;

}

.header nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
 
}

.header nav a:hover{
    text-decoration: underline;
}

.header nav a.active{
    color : #f00;
}

